@model PruebaCreativa.Models.Equipo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>
<br />
<h3>¿Esta seguro de que quiere borrar este Equipo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_de_la_Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_de_la_Marca.NombreMarca)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @*<input type="hidden" asp-for="NumeroSerie" />*@
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-light">Regresar a la Lista</a>
    </form>
</div>
